<div class="container">
  <h3 class="mt-1 liked-recipe-title">My Star Recipes</h3>
  <%= render 'shared/search_box' %>
  <div class="dish-type-nav">
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item flex-grow-1">
        <!-- opacity button -->
        <button class="btn w-100 <%= "btn-no-search-result" unless @starter %>" id="btn-starter">STARTER</button>
      </li>
      <li class="nav-item flex-grow-1">
        <button class="btn w-100 btn-liked-active <%= "btn-no-search-result" unless @main %>" id="btn-main">MAIN</button>
      </li>
      <li class="nav-item flex-grow-1">
        <button class="btn w-100 <%= "btn-no-search-result" unless @dessert %>" id="btn-dessert">DESSERT</button>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-6">

      <div class="liked-recipes-main">
        <% if @liked_recipes.select { |r| r.recipe.dish_type == "main" }.blank? %>
          <div class="no-liked-recipe">
            <p class="text-black-50">Find your star recipes!</p>
            <%= link_to "Discover", recipes_path, class: 'btn-green text-decoration-none' %>
          </div>
        <% else %>
          <% @liked_recipes.each do |liked_recipe| %>
            <% if liked_recipe.recipe.dish_type == "main" %>
              <!-- card design -->
              <%= render 'liked_recipes/shared/card_liked', liked_recipe: liked_recipe %>
              <!-- card design -->
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="liked-recipes-starter d-none">
        <% if @liked_recipes.reject { |r| r.recipe.dish_type == "main" || r.recipe.dish_type == "dessert" }.blank? %>
          <div class="no-liked-recipe">
            <p class="text-black-50">Find your star recipes!</p>
            <%= link_to "Discover", recipes_path, class: 'btn-green text-decoration-none' %>
          </div>
        <% else %>
          <% @liked_recipes.each do |liked_recipe| %>
            <% unless liked_recipe.recipe.dish_type == "main" || liked_recipe.recipe.dish_type == "dessert" %>
              <!-- card design -->
              <%= render 'liked_recipes/shared/card_liked', liked_recipe: liked_recipe %>
              <!-- card design -->
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="liked-recipes-dessert d-none">
        <% if @liked_recipes.select { |r| r.recipe.dish_type == "dessert" }.blank? %>
          <div class="no-liked-recipe">
            <p class="text-black-50">Find your star recipes!</p>
            <%= link_to "Discover", recipes_path, class: 'btn-green text-decoration-none' %>
          </div>
        <% else %>
          <% @liked_recipes.each do |liked_recipe| %>
            <% if liked_recipe.recipe.dish_type == "dessert" %>
              <!-- card design -->
              <%= render 'liked_recipes/shared/card_liked', liked_recipe: liked_recipe %>
              <!-- card design -->
            <% end %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>

<!-- search result -->
<div id="main" data-any='<%= @main %>'></div>
<div id="starter" data-any='<%= @starter %>'></div>
<div id="dessert" data-any='<%= @dessert %>'></div>

