<div class= "profile container ">
  <div class="profile-header">
    <div class="profile-header-item">
      <%= cl_image_tag current_user.photo.key, class: 'avatar-profile'%>
    </div>
    <div class="profile-header-item underligned-green">
      <%= current_user.username %>
    </div>
  </div>
  <div class="profile-items">
    <div id="food-preference" class="accordion-profile">
      <p> </p>
      <i class="fas fa-carrot fa-lg "></i>
      <div class="item-text">FOOD PREFERENCES</div>
      <i class="fas fa-sort-down"></i>
    </div>
      <div id="food-preference" class="panel-profile d-none search-box">
        <%= simple_form_for @preference do |t| %>
          <%= t.input :ingredient, collection: @ingredients, input_html: {class: "select2"} %>
          <%= t.submit "Dislike", class: 'btn-krok-pref'%>
        <%end %>
        <p>Hidden Ingredients : </p>
        <div class="container-preferences">
          <div class="row">
            <% @user_preferences.each do |preference| %>
            <div class="col-6 mt-3">
              <p class="preferences-tags"><%= preference.ingredient.name %></p>
              <%= button_to "x", preference_path(preference), method: :delete, class: 'delete-preference' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <div id = "previous-lists" class="accordion-profile"><i class="fas fa-clock fa-lg"></i><div class="item-text">PREVIOUS SHOPPING LIST</div><i class="fas fa-sort-down"></i></div>
      <div class="panel-profile d-none">
        <p>Lorem ipsum...</p>
      </div>
    <div id = "edit-profile" class="accordion-profile"><i class="fas fa-cog fa-lg"></i><div class="item-text"> EDIT PROFILE</div><i class="fas fa-sort-down"></i></div>
      <div class="panel-profile d-none">
        <div class="edit-profile">
          <i class="fas fa-unlock-alt"></i>
          <%= link_to "Change password", edit_user_registration_path, class: "item-text" %>
        </div>
        <div class="edit-profile">
          <i class="fas fa-pencil-alt"></i>
          <%= link_to "Update profil", edit_user_registration_path, class: "item-text" %>
        </div>
        <div class="edit-profile">
          <i class="fas fa-door-closed"></i>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "item-text" %>
        </div>

      </div>
  </div>
</div>
