<div class="container">

  <%= render 'shared/search_box' %>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-6 col-lg-3">
        <div class="card card-home">
          <div class="card-img-top d-flex justify-content-center">
            <%= link_to recipe_path(recipe) do  %>
              <%= cl_image_tag recipe.photo.key %>
            <% end %>

            <div class="card-img-icons">
              <div class="circle-icon">
                <%= link_to planner_planner_recipes_path(current_user.planners.last), method: :post do %>
                  <i class="fas fa-utensils btn-add-recipe"></i>
                <% end %>
              </div>
              <%= render 'shared/btn_heart', recipe: recipe %>
            </div>

          </div>
          <div class="card-title mb-0">
            <%= link_to recipe.name, recipe_path(recipe) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

