


<div class="container container-krok">

    <div class="search-box" id ='searchbox-recipe-index-before' data-click="<%= true if params[:addRecipe] %>">
     <%= form_tag recipes_path, method: :get do %>
       <%= text_field_tag :query,
         params[:query],
         class: "form-control",
         placeholder: "What to Krok?"
       %>
     <% end %>
    </div>

  <div id="recipes" class="row">
    <% if @recipes.count == 0 %>
      <p class="no-recipes-found">Nothing to Krok for this selection. Please choose other criterias...</p>
    <% end %>
    <% @recipes.each_with_index do |recipe, index| %>
      <% unless recipe.is_rejected?(current_user) %>
          <div class="col-6 column-home">
            <!-- card design -->
            <div class="card card-home shadow-sm">
              <div class="card-img-top d-flex justify-content-center">
                <%= link_to recipe_path(recipe) do  %>
                  <%= cl_image_tag recipe.photo.key %>
                <% end %>
                <div class="card-img-icons">
                  <%= render 'shared/btn_addrecipe_home', recipe: recipe %>
                  <%= render 'shared/btn_heart', recipe: recipe %>
                </div>
              </div>
            </div>
            <!-- card design -->
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <div id="searchbox-recipe-index-after" class="d-none">
      <div class='d-flex align-items-center justify-content-between search-padding'>
        <h3 class='underligned-green'> Search </h3>
        <div class='exit-button m-0'>
          <%= link_to recipes_path do %>
            <i class="fas fa-times fa-2x btn-cross-gray"></i>
            <!-- <i class="fas fa-times-circle fa-2x text-dark"></i> -->
          <% end %>
        </div>
      </div>
        <p id= "display-filters-title" class="btn filter-tag pt-10"> Filters </p>
    </div>

    <div id='display-filters' class="d-none">
      <h3 class='h3-tagtitle'>Dish Type</h3>
      <p class="filtering-tags filtering-tags-unselected input-dish-type">Starter</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-type">Main</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-type">Dessert</p>

      <h3 class='h3-tagtitle'>Prep Time</h3>
      <p class="filtering-tags filtering-tags-unselected input-prep-time">20min</p>
      <p class="filtering-tags filtering-tags-unselected input-prep-time">30min</p>
      <p class="filtering-tags filtering-tags-unselected input-prep-time">45min</p>
      <p class="filtering-tags filtering-tags-unselected input-prep-time">60min</p>

      <h3 class='h3-tagtitle'>Dish Origin</h3>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">English</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">French</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">American</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">Indian</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">Mexican</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">Middle East</p>
      <p class="filtering-tags filtering-tags-unselected input-dish-origin">Spansish</p>

      <h3 class='h3-tagtitle'>Difficulty</h3>
      <p class="filtering-tags filtering-tags-unselected input-difficulty">Easy</p>
      <p class="filtering-tags filtering-tags-unselected input-difficulty">Medium</p>

      <%= form_tag recipes_path, method: :get do %>
        <%= text_field_tag :query_dish_type, params[:query_dish_type],class: "form-control specific-input-search-dish-type d-none"%>
        <%= text_field_tag :query_prep_time, params[:query_prep_time],class: "form-control specific-input-search-prep-time d-none"%>
        <%= text_field_tag :query_dish_origin, params[:query_dish_origin],class: "form-control specific-input-search-dish-origin d-none"%>
        <%= text_field_tag :query_difficulty, params[:query_difficulty],class: "form-control specific-input-search-difficulty d-none"%>
        <%= submit_tag "Search", class: "btn btn-searchbar-filter-go" %>
    <% end %>
    </div>
  </div>
</div>



