<div class="container">

  <div class="search-box" id ='searchbox-recipe-index-before'>
   <%= form_tag recipes_path, method: :get do %>
     <%= text_field_tag :query,
       params[:query],
       class: "form-control",
       placeholder: "What to Krok?"
     %>
   <% end %>
  </div>

  <div id="recipes" class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-6 col-lg-3">
        <div class="card card-home mb-1">

          <div class="card-img-top d-flex justify-content-center">
            <%= link_to recipe_path(recipe) do  %>
              <%= cl_image_tag recipe.photo.key %>
            <% end %>

            <div class="card-img-icons">
              <div class="circle-icon">
                <% if current_user.nil? %>
                  <%= link_to new_user_session_path do %>
                    <i class="fas fa-utensils btn-add-recipe"></i>
                  <% end %>
                <% else %>
                  <%= link_to planner_planner_recipes_path(current_user.planners.last), method: :post do %>
                    <i class="fas fa-utensils btn-add-recipe"></i>
                  <% end %>
                <% end %>
              </div>
              <%= render 'shared/btn_heart', recipe: recipe %>
            </div>
          </div>

<!--           <div class="card-title mb-0">
            <%#= link_to recipe.name.truncate(25), recipe_path(recipe) %>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>

  <div id="searchbox-recipe-index-after" class="d-none">
    <div class='d-flex align-items-center justify-content-between search-padding'>
      <h1 class='underligned-green'> Search </h1>
      <div class='exit-button'>
        <%= link_to recipes_path do %>
          <i class="fas fa-times-circle fa-2x text-dark"></i>
        <% end %>
      </div>
    </div>
      <p id= "display-filters-title" class="btn filter-tag pt-10"> Filters </p>
  </div>

  <div id='display-filters' class="d-none">
    <h3 class='h3-tagtitle'>Dish Type</h3>
    <%=  link_to "Starter", recipes_path(:dish_type => "starter"), class: "btn filtering-tags" %>
    <%=  link_to "Main", recipes_path(:dish_type => "main"), class: "btn filtering-tags" %>
    <%=  link_to "Dessert", recipes_path(:dish_type => "dessert"), class: "btn filtering-tags" %>

    <h3 class='h3-tagtitle'>Prep Time</h3>
    <%=  link_to "20min", recipes_path(:prep_time => 20), class: "btn filtering-tags" %>
    <%=  link_to "30min", recipes_path(:prep_time => 30), class: "btn filtering-tags" %>
    <%=  link_to "45min", recipes_path(:prep_time => 45), class: "btn filtering-tags" %>
    <%=  link_to "1hour", recipes_path(:prep_time => 60), class: "btn filtering-tags" %>

    <h3 class='h3-tagtitle'>Dish Origin</h3>
    <%=  link_to "English", recipes_path(:dish_origin => "English"), class: "btn filtering-tags" %>
    <%=  link_to "French", recipes_path(:dish_origin => "French"), class: "btn filtering-tags" %>
    <%=  link_to "American", recipes_path(:dish_origin => "American"), class: "btn filtering-tags" %>
    <%=  link_to "Indian", recipes_path(:dish_origin => "Indian"), class: "btn filtering-tags" %>
    <%=  link_to "Mexican", recipes_path(:dish_origin => "Mexican"), class: "btn filtering-tags" %>
    <%=  link_to "Middle East", recipes_path(:dish_origin => "Middle East"), class: "btn filtering-tags" %>
    <%=  link_to "Spanish", recipes_path(:dish_origin => "Spanish"), class: "btn filtering-tags" %>

    <h3 class='h3-tagtitle'>Difficulty</h3>
    <%=  link_to "Simple", recipes_path(:difficulty => "Easy"), class: "btn filtering-tags" %>
    <%=  link_to "Medium", recipes_path(:difficulty => "Medium"), class: "btn filtering-tags" %>
    <%=  link_to "Hard", recipes_path(:difficulty => "Hard"), class: "btn filtering-tags" %>
  </div>
</div>



