<div class="container-show mx-0">
  <div class="row">
    <div class="col-sm-12 recipe-show p-0">
      <div class="navbar-back">
        <% if URI(request.referer).path.index("liked_recipes") == 1 %>
          <%= link_to liked_recipes_path do %>
            <i class="fas fa-chevron-left btn-back"></i>
          <% end %>
        <% else %>
          <%= link_to recipes_path do %>
            <i class="fas fa-chevron-left btn-back"></i>
          <% end %>
        <% end %>

      </div>
      <div class="recipe-photo-show" style="background-image: url('<%= cl_image_path @recipe.photo.key %>');">
        <%= render 'shared/btn_addrecipe', recipe: @recipe %>
      </div>
      <div class="recipe-text-show bg-white">
        <div class="name-review">
          <h3 class="text-center"><%= @recipe.name %></h3>
          <div class="icons d-flex justify-content-center">
            <% if @recipe.avg_rating == 5 %>
              <p><i class="fas fa-star icon-star"></i><%= @recipe.avg_rating %></p>
            <% elsif @recipe.avg_rating == 0 %>
              <p><i class="far fa-star icon-star"></i> <%= @recipe.avg_rating %></p>
            <% else %>
              <p><i class="fas fa-star-half-alt icon-star"></i><%= @recipe.avg_rating %></p>
            <% end %>
            <p>
              <% if @recipe.dish_type == 'main'  %>
                <i class="fas fa-fish icon-green ml-3 mr-1"></i><%= @recipe.dish_type.capitalize %> course
              <% elsif @recipe.dish_type == 'dessert' %>
                <i class="fas fa-cookie-bite icon-green ml-3 mr-1"></i><%= @recipe.dish_type.capitalize %>
              <% else %>
                <i class="fas fa-pizza-slice icon-green ml-3 mr-1"></i><%= @recipe.dish_type.capitalize %>
              <% end %>
            </p>
            <p class="ml-3"><i class="fas fa-utensils icon-green"></i> <%= @recipe.ratings.size %></p>

          </div>
        </div>
        <div class="owner-info d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start">
            <%= cl_image_tag @recipe.user.photo.key, class: "avatar-recipe-show" %>
            <div class="owner-info-text ml-2 d-flex flex-column justify-content-center">
              <h6 class="mb-0"><%= @recipe.user.username %></h6>
              <p class="mb-0"><%= @recipe.updated_at.strftime("%m-%d") %></p>
            </div>
          </div>
          <%= render 'shared/btn_heart', recipe: @recipe %>
        </div>

        <p><%= @recipe.description %>.</p>
        <!-- icons design -->
        <div class="recipe-short-info d-flex justify-content-center mb-4">
          <span class="mr-3"><i class="fas fa-globe-europe icon-green"></i> <%= @recipe.dish_origin %></span>
          <span class="mr-3"><i class="fas fa-mountain icon-green"></i> <%= @recipe.difficulty %></span>
          <span class="mr-3"><i class="fas fa-hourglass-half icon-green mr-1"></i><%= @recipe.optim_prep_time %></span>
          <span><i class="fas fa-users icon-green"></i> <%= @recipe.servings %></span>
        </div>
        <!-- icons design -->
        <!-- step design -->
        <h4 class="recipe-subtitle pb-1 mb-4 mt-4">Ingredients</h4>
        <div class="recipe-ingredients">
          <% @recipe.categories_of_recipe.each do |category| %>
            <div class="card recipe-ingredients-card">
              <div class="card-title">
                <%= category %>
              </div>
              <div class="card-body">
                <% @recipe.ingredients.each do |ingredient| %>
                  <% if ingredient.category == category %>
                    <p>
                      <span class="mr-2"><%= ingredient.name.capitalize %></span>
                      <%= ingredient.quantity %>
                      <%= ingredient.unit %>
                    </p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <h4 class="recipe-subtitle pb-1 mb-4 mt-4">Directions</h4>
        <div class="recipe-steps">
          <% @recipe.steps.split('.').each_with_index do |step, index| %>
            <p class="font-weight-bold mb-0 recipe-step-number">Step <%= index + 1 %></p>
            <p class="ml-4"><%= step %></p>
          <% end %>
        </div>
        <!-- step design -->
      </div>

    </div>
  </div>

</div>
