<div class="container">
  <div class="" id='title_to_update'>
    <div class="planner-title-card d-flex">
      <h3 class='planner-title'> <%= @planner.name%></h3>
      <i class="fas fa-edit p-2" id="title_update_launch"></i>
    </div>
  </div>
  <%= render 'shared/form' %>

  <div class="planner-dish-type-card m-2">
    <h5>Side dishes</h5>
    <div class="row justify-content-center">
      <% @planner_recipes.each do |planner_recipe| %>
        <div class="col-6 col-lg-3">
          <div class="card-show">
            <div class="card-img-top d-flex justify-content-center">
              <%= cl_image_tag planner_recipe.recipe.photo.key, crop: :fill %>
              <div class="card-img-icon-cooked" id="revert_cook_status">
                <% if planner_recipe.cooked == true %>
                  <%= link_to planner_planner_recipe_path(@planner, planner_recipe), method: :patch do  %>
                    <i class="fas fa-check btn-cooked"></i>
                  <% end %>
                <% else %>
                  <%= link_to planner_planner_recipe_path(@planner, planner_recipe), method: :patch do  %>
                    <i class="fas fa-check btn-not-cooked"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-title">
              <p> <%= planner_recipe.cooked %>  </p>
              <p> <%= planner_recipe.id %>  </p>
            </div>
          </div>
        </div>
        <%# raise %>
      <% end %>
      </div>
  </div>



  <div class="planner-dish-type-card m-2">
    <h5>Main dishes</h5>
  </div>
  <div class="planner-dish-type-card m-2">
    <h5>Desserts</h5>
  </div>

  <div class="planner-new d-flex justify-content-center">
    <%= link_to 'Create a new planner',planners_path, method: :post, class: 'btn btn-krok'  %>
  </div>
</div>


