<div class="card card-planner d-flex mb-3">
  <div class="row">

    <div class="col-4">
      <%= link_to planner_path(planner), html: { class: "past-planner-link" } do  %>
        <div class="card-img">
          <div class="row d-flex justify-content-between">
            <% if planner.recipes.size >=3 %>
              <% planner.recipes.first(3).each do |recipe| %>
                <div class="col-4 planner-recipe-img">
                  <%= cl_image_tag recipe.photo.key %>
                </div>
              <% end %>
            <% elsif planner.recipes.size == 2 %>
              <% planner.recipes.each do |recipe| %>
                <div class="col-4 planner-recipe-img">
                  <%= cl_image_tag recipe.photo.key %>
                </div>
              <% end %>
              <div class="col-4 planner-recipe-img bg-light">
              </div>
            <% else %>
              <% planner.recipes.each do |recipe| %>
                <div class="col-4 planner-recipe-img">
                  <%= cl_image_tag recipe.photo.key %>
                </div>
              <% end %>
              <div class="col-4 planner-recipe-img bg-light", style="padding-right: 1px;">
              </div>
              <div class="col-4 planner-recipe-img bg-light">
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-8 d-flex flex-column justify-content-center p-0">
      <%= link_to planner_path(planner), html: { class: "past-planner-link" } do  %>
        <div class="card-title d-flex mb-0 align-items-center justify-content-center">
          <h5 class="mr-2"><%= planner.name %></h5>
          <%# if click one time %>
            <%= link_to add_from_previous_planner_planner_path(planner), method: :post do  %>
              <i class="fas fa-utensils btn-add-previous-planner"></i>
            <% end %>
          <%# else %>
            <!-- <i class="fas fa-utensils btn-add-previous-planner-orange"></i> -->
          <%# end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
