<div class='navbar-container d-flex align-items-center'>

  <!-- home icon -->
  <div id="logo-home" class="navbar d-flex text-center">
    <% if (params[:controller] == "recipes" && params[:action] == "index") || (params[:controller] == "pages" && params[:action] == "home") %>
      <%= link_to root_path do  %>
        <i class="fas fa-home navbar-icon navbar-icon-green"></i>
      <% end %>
    <% else %>
      <%= link_to root_path do  %>
        <i class="fas fa-home navbar-icon"></i>
      <% end %>
    <% end %>
  </div>

  <!-- fork icon -->
  <div id="logo-fork" class="navbar navbar-logo d-flex text-center">
      <% if user_signed_in? %>
        <%= link_to planner_path(current_user.planners.last) do  %>
          <i class="fas fa-utensils pastille-notif-outer navbar-icon <%= 'navbar-icon-green' if @planners_show %>"></i>
        <% end %>
      <% else %>
        <%= link_to profile_path do  %>
          <i class="fas fa-utensils pastille-notif-outer navbar-icon"></i>
        <% end %>
      <% end %>

      <% unless @number_of_unseen_planner_recipes.nil?  %>
        <% if @number_of_unseen_planner_recipes > 0 %>
          <p class='pastille-notif-inner'> <%= @number_of_unseen_planner_recipes %></p>
        <% end %>
      <% end %>
  </div>

  <!-- list icon  -->
  <div id="logo-list" class="navbar navbar-logo d-flex text-center">
    <% if user_signed_in? %>
      <%= link_to planner_shopping_lists_path(current_user.planners.last) do  %>
        <i class="fas fa-list-ul navbar-icon <%= 'navbar-icon-green' if @shopping_lists_index %>"></i>
      <% end %>
    <% else %>
      <%= link_to profile_path do %>
        <i class="fas fa-list-ul navbar-icon"></i>
      <% end %>
    <% end %>
  </div>

  <!-- heart icon  -->
  <div id="logo-heart" class="navbar navbar-logo d-flex text-center">
    <% if params[:controller] == "liked_recipes" && params[:action] == "index" %>
      <%= link_to liked_recipes_path do  %>
        <i class="fas fa-heart navbar-icon navbar-icon-green"></i>
      <% end %>
    <% else %>
      <%= link_to liked_recipes_path do  %>
        <i class="fas fa-heart navbar-icon"></i>
      <% end %>
    <% end %>
  </div>

  <!-- profile icon  -->
  <div id="logo-profile" class="navbar navbar-logo d-flex text-center">
    <% if current_user.nil? %>
      <%= link_to profile_path do  %> <!-- mettre profile_path -->
        <i class="fas fa-user navbar-icon"></i>
      <% end %>
    <% elsif current_user.photo.attachment.nil? %>
      <%= link_to profile_path do  %> <!-- mettre profile_path -->
        <i class="fas fa-user navbar-icon"></i>
      <% end %>
    <%else %>
      <%= link_to profile_path do  %>
        <%= cl_image_tag current_user.photo.key, class: 'avatar-navbar'%>
      <% end %>
    <% end %>
  </div>
</div>
