<div class='navbar-container d-flex align-items-center'>

  <div id="logo-home" class="navbar navbar-logo d-flex text-center navbar-active">
    <%= link_to root_path do  %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div id="logo-fork" class="navbar navbar-logo d-flex text-center">
    <%= link_to planner_path(Planner.last) do  %> <!-- mettre planner_path -->
      <i class="fas fa-utensils"></i>
    <% end %>
  </div>
  <div id="logo-list" class="navbar navbar-logo d-flex text-center">
    <%= link_to planner_shopping_lists_path(Planner.last) do  %> <!-- mettre planner_shopping_lists_path -->
      <i class="fas fa-list-ul"></i>
    <% end %>
  </div>
  <div id="logo-heart" class="navbar navbar-logo d-flex text-center">
    <%= link_to liked_recipes_path do  %> <!-- mettre liked_recipes_path -->
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
  <div id="logo-profile" class="navbar navbar-logo d-flex text-center">
    <% if current_user.nil? %>
      <%= link_to profile_path do  %> <!-- mettre profile_path -->
        <i class="fas fa-user"></i>
      <% end %>
    <% else %>
    <%= link_to profile_path do  %>
      <%= cl_image_tag current_user.photo.key, class: 'avatar-navbar'%>
    <% end %>
    <% end %>
  </div>
</div>
