<div class='navbar-container d-flex align-items-center'>
  <div class="navbar navbar-logo d-flex text-center">
    <%= link_to root_path do  %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="navbar navbar-logo d-flex text-center">
    <%= link_to root_path do  %> <!-- mettre planner_path -->
      <i class="fas fa-utensils"></i>
    <% end %>
  </div>
    <div class="navbar navbar-logo d-flex text-center">
    <%= link_to root_path do  %> <!-- mettre planner_shopping_lists_path -->
      <i class="fas fa-list-ul"></i>
    <% end %>
  </div>
  <div class="navbar navbar-logo d-flex text-center">
    <%= link_to root_path do  %> <!-- mettre liked_recipes_path -->
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
  <div class="navbar navbar-logo d-flex text-center">
    <% if current_user.nil? %>
      <%= link_to root_path do  %> <!-- mettre profile_path -->
        <i class="fas fa-user"></i>
      <% end %>
    <% elsif %>
      <%= cl_image_tag current_user.photo.key, class: 'avatar-navbar'%>
    <% end %>
  </div>
</div>
