<!-- <h1>ShoppingLists#index</h1>
<p>Find me in app/views/shopping_lists/index.html.erb</p>
 -->

<div class='text-center'>
  <h1 class='underligned-green pb-2 pt-4'> Your Shopping List </h1>
</div>

<div class='text-center'>
  <h2 class='' id='editable-shopping-list-name'> <%= @planner.name %> </h2>
</div>


<div class='container pb-5'>
  <% @categories.each do |category| %>
    <h3><%= category %></h3>
    <% @shopping_lists.each do |shopping_list| %>
    <ul>
      <% if shopping_list.category == category %>
        <li>
          <% if  !shopping_list.quantity.nil? && shopping_list.quantity >= 1000  && shopping_list.unit == 'g' %>
            <%= shopping_list.quantity / 1000 %> kg <%= shopping_list.ingredient_name %>
          <% elsif  !shopping_list.quantity.nil? && shopping_list.quantity >= 1000  && shopping_list.unit == 'ml'%>
            <%= shopping_list.quantity / 1000 %> l <%= shopping_list.ingredient_name %>
          <% else %>
            <%= shopping_list.quantity %> <%= shopping_list.unit %> <%= shopping_list.ingredient_name %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
